# SpendSense Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=spendsense_db

# Flask App Secret Key
SECRET_KEY=spendsense_secret_key_college_dbms_project_2026
FLASK_DEBUG=1
